.Button {
  padding: 10px 15px;
  border: none;
  /* background-color: var(--black-btn-color);
    color: var(--white); */
  background: #9e892c;
  color: white;
  border-radius: var(--radius);
  font-weight: var(--font-weight);
  cursor: pointer;
  width: max-content;
}

.Button:hover {
  background-color: #e7c700;
}
