.LandingHero {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    height: auto;
}

.LandingHero .Button-custom {
    width: 200px;
    height: 70px;
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 30px;

}

.Landing-background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Landing-text-overlay {
    width: 100%;
    margin-left: 70px;
    
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(236, 70, 70);
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(235, 205, 38, 0.342);
    animation: fadeIn 1s ease-in-out;
    text-align: center;
    padding: 0 10px;
}
.Landing-text-overlay .hie{
    font-size: 65px !important;
    /* background-color: red; */
}
.Landing-text-overlay .fade-in {
    opacity: 1;
  }

.Landing-text-overlay h1{
    opacity: 5;
    transition: opacity 1s ease-in-out;
  }

.Landing-text-overlay span{
    color: gold;
    width: 2px;    
    animation: blink;
    transition: all 350ms ease-in;
}

/* @keyframes blink {

    0%,
    100% {
        opacity: 1;
        transition: all 350ms ease-in;
    }

    50% {
        opacity: 0;
        transition: all 350ms ease-in;
    }
} */
/* Responsive font size */
@media (max-width: 1200px) {

    .LandingHero .Button-custom {
        top: 60%;
    }

    .Landing-text-overlay {
        font-size: 1.8rem;
    }
}

@media (max-width: 992px) {
    .Landing-text-overlay {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .LandingHero .Button-custom {
        top: 50%;
    }

    .Landing-text-overlay {
        font-size: 1.4rem;
        top: 40%;
    }

   
}

@media (max-width: 576px) {
    .LandingHero {
        height: 60vh;
        /*        border: 2px solid red;*/
    }

    .Landing-background-image {
        height: 100%;
    }

    .LandingHero .Button-custom {
        padding: 10px 15px;
        border-radius: 5px;
        top: 60%;
        left: 35%;
        width: 100px;
        height: 40px;
        font-size: 15px;
        border-radius: 2px;
        text-transform: capitalize;
    }

    .Landing-text-overlay {
        font-size: 1.3rem !important;
        top: 35%;
        left: 50%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;


        
        /*        height: 100px;*/
        /*        background-color: green;*/
    }
}

/* Smooth fade-in effect for the text */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}