.MeetBeeKeepers {
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 90px;
}

.BeeKeepers {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 130px;
    /*    border: 2px solid green;*/
}

.OurBeeKeeper {
    width: 520px;
    height: 600px;
    /*    border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beekeeper {
    width: 110%;
    height: 70%;
    object-fit: contain;
}

.beeText {
    width: 70%;
    height: 30%;
    margin-top: 5px;

    & p {
        font-size: 15px;
        font-weight: 500;
    }
}

.beeText h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width:1024px) {
    .beekeeper {
        width: 130%;
    }

    .BeeKeepers {
        /*        flex-wrap: nowrap;*/
    }
}

@media (max-width:500px) {
    .beeText {
        /*        width: 85%;*/
    }

    .MeetBeeKeepers h1 {
        font-size: 1.3rem;
    }

    .MeetBeeKeepers {
        & h1 {
            font-size: 14px;
        }
    }

    .OurBeeKeeper {
        background-color: #fff;
        height: max-content;
    }

    .BeeKeepers {
        height: max-content;
        /* background-color: red; */
        gap: 50px;
    }

    .beekeeper {
        height: 300px;
    }

}

@media (max-width:375px) {
    .beeText {
        width: 85%;
    }
}