.GetStarted{
    width: 100%;
    height: 100vh;
    background: linear-gradient(243.15deg, #D8AE28 3.25%, #A8871F 58.37%, #8C711A 77.88%, #725C15 95.11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lora;
    gap: 70px;
    position: absolute;
}
