/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E3628;
    /* Dark brown */
    padding: 0.5rem 2rem;
    position: relative;
    z-index: 1;
}

.navbar__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}

.navbar__logo img {
    width: 120px;
}

.navbar__links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar__links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar__links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar__links ul li a.active {
    color: #f1b24a;
    /* Gold color for active link */
}

.navbar__icons {
    display: flex;
    align-items: center;
}

.navbar__icon {
    font-size: 24px;
    color: #fff;
    margin-left: 1rem;
}

.navbar__hamburger {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1001;
    /* Ensure the hamburger is clickable */
    position: relative;
    background-color: transparent;
    border: none;
}

/* Ensure this overrides any other hidden elements */
.navbar__hamburger.open {
    display: block;
}

/* Responsive Mobile View */
@media (max-width: 768px) {
    .navbar__links {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #4E3628;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
        /* Ensure the dropdown menu is on top */
    }

    .navbar__links.open {
        transform: translateX(0);
    }

    .navbar__links ul {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .navbar__icons {
        display: none;
    }

    .navbar__hamburger {
        display: block;
        z-index: 1001;
        /* Make sure the hamburger stays above */
    }

    .navbar__links.open {
        z-index: 1000;
    }
}