
.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* background-color: #742712; */
    background: #742712;
    justify-content: center;
    font-family: Lora;

    & .wrapper{
        width: 90%;
        height: max-content;
        color: rgba(255, 255, 255, 0.815);
        padding-top: 10px;
        gap: 10px;
        padding-top: 50px;
        background-color: #742712;

    }
}

.logo{
    width: 20px;
}

.description{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    gap: 20px ;
    background-color: #742712;
    /* font-size: 20px; */

    
}


.instruction{
    padding-top: 50px;
    height: max-content;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color: pink; */
    font-size: 20px;

    & p{
        font-family: lora;
    }
}


.Intouch{
    width: 180px;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    /* color: black; */
    gap: 20px;
    & h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & span{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}






@media (max-width:1280px) {
    footer{
        height: max-content; 
        /* & .wrapper{
            height: 40vh;
        } */
    }
 
}

@media (max-width:500px) {
    .who{
        display: none;
    }
    .description{
        align-self: flex-start;
        font-size: 10px;
    }

    
    .copyright{ 
        align-self: flex-start;
        font-size: 10px;
    }

    footer{
        height: max-content; 
        & .wrapper{
            height: 45vh;
        }
    }
    .description{
        flex-direction: column;
    }

    .instruction{
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .Intouch{
        /* width: 300px; */
    }
}