.CheckoutItems{
    width: 40%;
    height: 90%;
    box-shadow: 4px 4px 9px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CheckoutItems-wrap{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CheckoutItems-top{
    width: 100%;
    height: 65%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.checkout-product{
   width: 100%;
   height: 10%;
   box-shadow: 2px 2px 5px rgb(173, 169, 169);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
}

.CheckoutItems-bottom{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.checkout-total{
    width: 100%;
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width:768px) {
    .CheckoutItems{
        width: 100%;
        height: 120vh;
        order: -1;
    }
}

@media (min-width:2560px) {
    h2,h3,h4{
        font-size:  2.5rem;
    }
    p, span, input{
        font-size:2rem ;
    }
}

