
.featuresBox{
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 90%;
    height: max-content;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */

}

.features{
    width: 370px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    /* background: #F3A089; */
    /* border-radius: 10px; */
    /* box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.904); */

    & .remove{
        width: 50%;
        height: 90%;
    }
    & .two{
       order: 2;

    }
    .bee2{
        height: 70%;
    }
    .text{
        display: flex;
        color: white;
        flex-direction: column;
        gap: 10px;

        & p{
            color: black;
        }
    }
    
}

.two{
    flex-direction: column;
    & .remove{
        order: 2;
        
    }
}


@media (max-width:1280px) {

 
 
    .featuresBox{
       /* top: 1120%; */
              
       
    }
    
  
    .features{
        width: 250px;
        height: 300px; 
        
       
    }
    
    .bee{
        order: -1;
    }
   
    
    
    .text{
        margin-bottom: 30px;
        text-align: center;
        h1{
            font-size: 40px;
        }

    }

    

   

   

    
 
    
 }


 @media (max-width:500px) {   
   
    .featuresBox{
        margin-bottom: 1100px;
    }
    .two{
        flex-direction: column;
        & .remove{
            order: 2;
        }
    }
    .origin{
        width: 100vw;
    }

    .theOrigin{
        width: 300px;
    }


    .text{
        text-align: center;
        margin-bottom: 30px;
        h1{
            font-size: 40px;
        }
    }
    
   
    }
 
    
   
                                                                
    


   

   
    
  
    


 